body {
    background-color: rgb(239, 239, 239);
}

h1 {
    font-size: 4em;
}

.park-areas-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.park-area-div {
    background-color: gainsboro;
    width: 18em;
    height: 18em;
    margin: 1em;
    padding: 1em;
}

header {
    display: flex;
}

.img-div {
    width: 8em;
    height: 8em;
}

img {
   width: 100%; 
}